@charset "UTF-8";

.event_ul{
    padding-right: 16px;
}

.event_li{
    background-color: #e0edff;
    list-style: none;
    border-top: dotted;
    border-bottom: dotted;
    margin-top: 8px;
    color:#193f52;
    border: solid , 4px;
    border-color:rgb(114, 136, 165);
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 2%;
    margin-right: 1%;
    padding: auto;
    height: 128px;
    width:auto;
    position:center;
}
.event_li:hover{
    opacity:0.7;
}

.list_title{
    user-select: none;
    position:relative;
    top: 12px;
    width: 300px;
    font-size: large;
}

.list_genre{
    user-select: none;
    position: relative;
    top: 48px;
    width: 300px;
}

.list_prefecture{
    user-select: none;
    position: relative;
    top: 24px;
    left: 100px;
    width: 300px;
}

.list_remarks{
    position: relative;
    bottom: 36px;
    left: 300px;
    width: 60em;
}

textarea {
    height: 4em;
    width: 60em; 
    resize: none;
    user-select: none;
    cursor: pointer;
    background-color: white;
}
input.search{
    padding: 10px;
    width: 300px;
}
button[name=post]{
    padding: 8px 20px;
    margin-left: 10px;
    background-color: #5273c7;
    color: white;
    border-color: rgb(87, 139, 218);
}
.detailSearch span{
    color: black;
    font-size: 1.3em;
    margin-right: 100px;
    margin-left: 10px;
}
select[name="genre"], input[type="date"], select[name="area"], input[name="season"]{
    padding: 10px;
    margin-bottom: 20px;
}
.detailSearch{
    width: 300px;
    margin: 0 auto;
    /* position: relative; */
}
#contentSpo{
    color:#000;
    z-index:2;
    width:auto;
    margin:20px 0;
    padding: 1em;
    background:#fff;
    text-align: left;
    /* display:inline-block; */
    height: auto;
    overflow:hidden;
    overflow-y: scroll;
    overflow-x: hidden; 
}
.searchb{
    /* display: flex;
    gap: 10px; */
    width: 90px;
    margin:0 auto;
}
.searchBtn,.close{
    padding: 5px 20px;
    /* position: absolute; */
}
.keywordSearch{
    margin-bottom: 30px;
    margin-top: 30px;
}